.App {
    text-align: center;
    background-color: #C77136;
    min-height: 100vh;
    max-width:100vw;
}
.auth {
    padding-top: 10vh;
    display: flex ;
    justify-content: center;
    align-items: center;
}
h3 {
    font-weight: bolder;
    color: black;
}
.navlink {
    color:#F8C365 !important;
}
.brand {
    color:#F8C365 !important;
}
/* .links {
    padding-left: 30vw !important;
} */
.container {
    max-width: 100% !important
}

.navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background-color: #56273B;
    font-weight: bolder;
}
Table {
    text-align: center;
    background-color: #656B81;
}
thead{
    color: #F8C365;
    position: sticky;
    top: 0;
    padding-top: 0;
    margin-top: 0;
    background-color: #343240;
}
th {
    border: 2px black solid;
}
.cards {
    background-color: #656B81;
    margin-bottom: 2em;
}

Table td{
    border: 1px black solid;
    color: black;
}
.table {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 1.25vw;
    text-align: center;
}

.displayCards {
    flex-direction: row;
    display: flex;
}

button {
    background-color: #56273B;
    font-weight: bold;
    color: #F8C365;
    padding: 1px 3px;

}

.food {
    padding-right: 1em;
    height: 15%;
}

.drinks {
    padding-left: 1em;
    height: 16.75%;

}
Container {
    color: #343240;
    border-color: #656B81;
    background-color: #F8C365, #C77136,#56273B;

}